<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Налаштування формату виводу в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Формат: Година:Хвилина:Секунда [Назва потоку] РІВЕНЬ - Повідомлення -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Глушимо Netty та Reactor, залишаємо тільки важливе (INFO або WARN) -->
    <logger name="io.netty" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="io.rsocket" level="WARN"/>

    <!-- Глобальний рівень логування для нашого власного коду -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>