<configuration debug="false">
    <!-- Описание того, КУДА выводить (в консоль) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логов для всего проекта (ставим WARN, чтобы скрыть INFO и DEBUG) -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
